<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <script src="/dist/bundle.js"></script>

  <title>welldOne developer</title>
</head>

<body>

  <header>

    <aside class="nav">
      <div class="main_wrapper nav_content">

        <!-- <div class="nav_logo">
          <h1>welldOne</h1>
          <p>developer</p>
        </div> -->

        <nav>
          <ul>
            <a href="">
              <li>início</li>
            </a>
            <a href="#projects">
              <li>projetos</li>
            </a>
            <a href="#contact_us">
              <li>contato</li>
            </a>
          </ul>
        </nav>
      </div>
    </aside>

  </header>

  <div class="menu_spacing"> </div>

  <section id="home" class="section intro">

    <div class="main_wrapper intro_content">

      <div class="intro_text_content">
        <h2>SEJA BEM-VINDX</h2>
        <p> Meu nome é <strong>Weldo Carvalho</strong>. Sou <strong>Desenvolvedor Web</strong> e atualmente desenvolvo
          aplicações utilizando NODE, REACT,
          JAVASCRIPT, SQL, GIT, API REST e metodologia ÁGIL, além de outras tecnologias e ferramentas.</p>
        <br>
        <p>Logo abaixo estão alguns projetos pessoais, construídos ao longo do ano de 2021.</p>
        <br>
        <p>
          O processo de DEPLOYment de todos eles foi feito por meio da GOOGLE CLOUD PLATFORM, com uso do NGINX para
          proxy-reverso e DOCKER para levantamento de alguns conteiners.
        </p>

      </div>

      <div class="intro_img">
        <img src="/dist/new_undraw_portfolio.svg" alt="imagem para representar o portfolio">
      </div>
    </div>


  </section>

  <section id="projects" class="section third_bg">

    <div class="main_wrapper grid_content">
      <h2>PROJETOS</h2>

      <div class="grid">
        <article>
          <a href="https://saberdigital.weldocarvalho.com" target="_blank">
            <h3>SABER DIGITAL</h3>
          </a>
          <a href="https://github.com/weldocarvalho/saberdigital" target="_blank">
            <p>código fonte: github.com/weldocarvalho/saberdigital</p>
          </a>
          <br>
          <a href="https://saberdigital.weldocarvalho.com" target="_blank">
            <p>saberdigital.weldocarvalho.com</p>
          </a>
          <br>
          <p>
            <a href="https://saberdigital.weldocarvalho.com" target="_blank">
              SABER DIGITAL
            </a>
            foi, sem dúvida, uma das maiores conquistas pessoais. O projeto foi apresentado como trabalho
            final no curso de DESENVOLVIMENTO WEB FULL STACK, ministrado pela DIGITAL HOUSE BRASIL. Foi a partir dele
            que consegui enxergar, de maneira mais panorâmica, a visão de uma aplicação web.
          </p>
          <br>
          <p>Tecnologias utilizadas: NodeJS, Express, MySQL, Sequelize, Bootstrap, EJS, Multer, ESLint e Webpack</p>
          <br>
          <p>Equipe:
            <a href="https://github.com/weldocarvalho" target="_blank">Weldo Carvalho,</a>
            <a href="https://github.com/defebach" target="_blank">André Felipe,</a>
            <a href="https://github.com/claudionono14" target="_blank">Cláudio Carvalho,</a>
            <a href="https://github.com/thalesgomes" target="_blank">Thales Gomes</a>
          </p>
        </article>

        <article>
          <h3>POMODORO</h3>
          <a href="https://github.com/weldocarvalho/pomodoro_technique-typescript-react" target="_blank">
            <p>código fonte: github.com/weldocarvalho/pomodoro_technique-typescript-react</p>
          </a>
          <br>
          <p>A técnica pomodoro é um método de gerenciamento de tempo. Na prática, é um timer programado para emitir um
            alerta a cada 25min.</p>
          <br>
          <p>A ideia por trás da técnica é utilizar esse intervalo de tempo para focar na produção
            de uma tarefa específica, realizando uma pausa de 5min a cada término.</p>
          <br>
          <p>Tecnologias utilizadas: Typescript, React</p>
        </article>

        <article>
          <h3>API REST</h3>
          <a href="https://github.com/weldocarvalho/api-rest_node-express-sequelize" target="_blank">
            <p>código fonte: github.com/weldocarvalho/api-rest_node-express-sequelize</p>
          </a>
          <br>
          <p>A construção de uma API utilizando o estilo arquitetural REST com certeza é um dos projetos que não poderia
            faltar nesse portfólio. O estilo trouxe muito mais consistência quando o assunto é o consumo de serviços
            web.</p>
          <br>
          <p>Tecnologias utilizadas: NodeJS, Express, MySQL, Sequelize, Sucrase</p>
        </article>

        <article>
          <h3>CONSUMINDO API_wip</h3>
          <p>...work in progress...</p>
          <br>
          <p>Após a construção da API REST, é chegado o momento de consumi-la utilizando a biblioteca REACT, com suporte
            do REDUX</p>
          <br>
          <p>Tecnologias utilizadas: React e Redux</p>
        </article>

        <article>
          <h3>LANDING PAGE</h3>
          <a href="https://github.com/weldocarvalho/welldOne_dev_landing_page" target="_blank">
            <p>código fonte: github.com/weldocarvalho/welldOne_dev_landing_page</p>
          </a>
          <br>
          <p>E o que seria desse portfólio sem a sua devida landing page, num é vero? </p>
          <br>
          <p>Tecnologias utilizadas: HTML e CSS</p>
        </article>
      </div>

    </div>

  </section>

  <footer id="contact_us">

    <div class="footer_wrapper">

      <div>
        <img src="/dist/profile_weldo_carvalho.jpeg" alt="imagem de perfil">
      </div>

      <div>
        <p>Contato</p>
        <a href="https://www.linkedin.com/in/weldocarvalho/" target="_blank">
          <p>linkedin: linkedin.com/in/weldocarvalho</p>
        </a>
        <a href="https://github.com/weldocarvalho" target="_blank">
          <p>github: github.com/weldocarvalho</p>
        </a>

      </div>

    </div>

  </footer>

</body>

</html>
