<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

    <script src="/dist/bundle.js"></script>

  <title>welldOne developer</title>
</head>

<body>

  <header>

    <aside class="menu">
      <div class="main_content menu_content">

        <h1>
          LOGO
        </h1>

        <nav>
          <ul>
            <li><a href="#home">início</a></li>
            <li><a href="#projects">projetos</a></li>
            <li><a href="#contact_us">fale conosco</a></li>
          </ul>
        </nav>

      </div>
    </aside>

  </header>

  <div class="menu_spacing"> </div>

  <section id="home" class="section intro">

    <div class="main_content intro_content">

      <div class="intro_text_content">
        <h2>SEJA BEM-VINDX</h2>
        <p>
          Pariatur, eum! Doloribus corrupti quisquam porro libero? Dignissimos laudantium quia modi quos officia sed
          unde pariatur voluptas magni id ipsa, assumenda soluta rerum suscipit illo placeat neque dolorum? Rerum, sit.
        </p>

      </div>

      <div class="intro_img">
        <img src="/dist/new_undraw_portfolio.svg" alt="imagem para representar o portfolio">
      </div>
    </div>


  </section>

  <section id="projects" class="section third_bg">

    <div class="main_content grid_content">
      <h2>PROJETOS</h2>

      <div class="grid">
        <article>
          <h3>SABER DIGITAL</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit veritatis dignissimos? Laborum
            impedit consequuntur dolorem atque itaque rerum obcaecati quo vel deserunt minima, vero voluptatum
            reiciendis quasi culpa? Obcaecati?
            Incidunt quisquam, architecto vero possimus perferendis quia fugit voluptate optio beatae voluptas autem
            veritatis voluptatem dolores dolorum facilis in vitae! Architecto voluptas exercitationem soluta dignissimos
            quia magni ipsam aspernatur impedit.</p>
        </article>

        <article>
          <h3>POMODORO</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit veritatis dignissimos? Laborum
            impedit consequuntur dolorem atque itaque rerum obcaecati quo vel deserunt minima, vero voluptatum
            reiciendis quasi culpa? Obcaecati?
            Incidunt quisquam, architecto vero possimus perferendis quia fugit voluptate optio beatae voluptas autem
            veritatis voluptatem dolores dolorum facilis in vitae! Architecto voluptas exercitationem soluta dignissimos
            quia magni ipsam aspernatur impedit.</p>
        </article>

        <article>
          <h3>API REST</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit veritatis dignissimos? Laborum
            impedit consequuntur dolorem atque itaque rerum obcaecati quo vel deserunt minima, vero voluptatum
            reiciendis quasi culpa? Obcaecati?
            Incidunt quisquam, architecto vero possimus perferendis quia fugit voluptate optio beatae voluptas autem
            veritatis voluptatem dolores dolorum facilis in vitae! Architecto voluptas exercitationem soluta dignissimos
            quia magni ipsam aspernatur impedit.</p>
        </article>

        <article>
          <h3>CONSUMINDO API</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit veritatis dignissimos? Laborum
            impedit consequuntur dolorem atque itaque rerum obcaecati quo vel deserunt minima, vero voluptatum
            reiciendis quasi culpa? Obcaecati?
            Incidunt quisquam, architecto vero possimus perferendis quia fugit voluptate optio beatae voluptas autem
            veritatis voluptatem dolores dolorum facilis in vitae! Architecto voluptas exercitationem soluta dignissimos
            quia magni ipsam aspernatur impedit.</p>
        </article>
      </div>

    </div>

  </section>

  <footer id="contact_us">

    <div class="footer_wrapper">

      <div>
        <img src="/dist/profile_weldo_carvalho.jpeg" alt="imagem de perfil">
      </div>

      <div>
        <p>dúvidas ou sugestões? Entre em contato comigo</p>
        <p>linkedin: linkedin.com/in/weldocarvalho</p>
        <p>gitHub: github.com/weldocarvalho</p>

      </div>

    </div>

  </footer>

</body>

</html>
