<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <script src="/dist/bundle.js"></script>

  <title>welldOne developer</title>
</head>

<body>

  <header>

    <div class="main_wrapper nav_content">

      <div class="nav_logo">
        <h1>welldOne</h1>
        <p>developer</p>
      </div>

      <ul>
        <a href="">
          <li>início</li>
        </a>
        <a href="#projects">
          <li>projetos</li>
        </a>
        <a href="#contact_us">
          <li>contato</li>
        </a>
      </ul>
    </div>

  </header>

  <section id="home" class="section intro">

    <div class="main_wrapper intro_content">

      <div class="intro_text_content">
        <h2>SEJA BEM-VINDX</h2>
        <p>Salve, Salve!</p>
        <br>
        <p> Meu nome é <strong>Weldo Carvalho</strong>. Sou <strong>Desenvolvedor Web</strong> e atualmente desenvolvo
          aplicações utilizando NODE, REACT,
          JAVASCRIPT, SQL, GIT, API REST e metodologia ÁGIL, além de outras tecnologias e ferramentas.</p>
        <br>
        <p>Logo abaixo estão alguns projetos pessoais, construídos ao longo do ano de 2021.</p>
        <br>
        <p>
          O processo de DEPLOYment de todos eles foi feito por meio da GOOGLE CLOUD PLATFORM, com uso do NGINX para
          proxy-reverso e DOCKER para levantamento de alguns conteiners.
        </p>

      </div>

      <div class="intro_img">
        <img src="/dist/grey_undraw_portfolio.svg" alt="imagem para representar o portfolio">
      </div>
    </div>

  </section>

  <section id="projects" class="section projects">

    <div class="main_wrapper projects_content">

      <h2>PROJETOS</h2>

      <div class="projects_grid">
        <article>
          <a href="https://saberdigital.weldocarvalho.com" target="_blank">
            <h3>SABER DIGITAL</h3>
          </a>
          <a href="https://github.com/weldocarvalho/saberdigital" target="_blank">
            <p><strong>código fonte</strong>: github.com/weldocarvalho/saberdigital</p>
          </a>
          <br>
          <a href="https://saberdigital.weldocarvalho.com" target="_blank">
            <p><strong>saberdigital.weldocarvalho.com</strong></p>
          </a>
          <br>
          <p>
            <a href="https://saberdigital.weldocarvalho.com" target="_blank">
              <strong>SABER DIGITAL</strong>
            </a>
            foi, sem dúvida, uma das maiores conquistas pessoais. O projeto foi apresentado como trabalho
            final no curso de <strong>desenvolvimento web full stack</strong>, ministrado pela <strong>Digital House
              Brasil</strong>.
          </p>
          <br>
          <p>Foi a partir dele que pude enxergar, de maneira mais panorâmica, a visão geral de uma aplicação web.
          </p>
          <br>
          <p>Tecnologias utilizadas: <strong>NodeJS, Express, MySQL, Sequelize, Bootstrap, EJS, Multer, ESLint e
              Webpack</strong></p>
          <br>
          <p><strong>Equipe</strong>:
            <a href="https://github.com/weldocarvalho" target="_blank">Weldo Carvalho,</a>
            <a href="https://github.com/defebach" target="_blank">André Felipe,</a>
            <a href="https://github.com/claudionono14" target="_blank">Cláudio Carvalho,</a>
            <a href="https://github.com/thalesgomes" target="_blank">Thales Gomes</a>
          </p>
        </article>

        <article>
          <h3>POMODORO</h3>
          <a href="https://github.com/weldocarvalho/pomodoro_technique-typescript-react" target="_blank">
            <p><strong>código fonte</strong>: github.com/weldocarvalho/pomodoro-technique</p>
          </a>
          <br>
          <p>O <strong>maior desafio</strong> em relação a esse projeto foi o uso do <strong>typescript</strong>, um
            <i>superset</i> criado para checar <u>tipos em javascript</u>. Inicialmente, o caminho foi marcado por
            estranhezas,
            mas logo foi possível perceber que a codificação fica muito mais robusta e previsível com seu uso.
          </p>
          <br>
          <p>A <strong>técnica pomodoro</strong> é um método de gerenciamento de tempo. Na prática, é um timer
            programado para emitir um
            alerta a cada 25min.</p>
          <br>
          <p>A ideia por trás da técnica é utilizar esse intervalo de tempo para focar na produção
            de uma tarefa específica, realizando uma pausa de 5min a cada término.</p>
          <br>
          <p>Tecnologias utilizadas: <strong>Typescript, React</strong></p>
        </article>

        <article>
          <h3>API REST</h3>
          <a href="https://github.com/weldocarvalho/api-rest_node-express-sequelize" target="_blank">
            <p><strong>código fonte</strong>: github.com/weldocarvalho/api-rest</p>
          </a>
          <br>
          <p>A construção de uma <strong>API</strong> utilizando o <strong>estilo arquitetural REST</strong> com
            certeza
            é um dos projetos que não poderia
            faltar nesse portfólio. O estilo trouxe muito mais consistência quando o assunto é o consumo de serviços
            web.</p>
          <br>
          <p>Tecnologias utilizadas: <strong>NodeJS, Express, MySQL, Sequelize, Sucrase</strong></p>
        </article>

        <article>
          <h3>CONSUMINDO API_wip</h3>
          <p><strong>...work in progress...</strong></p>
          <br>
          <p>Após a construção da API REST, é chegado o momento de consumi-la utilizando a biblioteca REACT, com
            suporte
            do REDUX</p>
          <br>
          <p>Tecnologias utilizadas: <strong>React e Redux</strong></p>
        </article>

        <article>
          <h3>LANDING PAGE</h3>
          <a href="https://github.com/weldocarvalho/welldOne_dev_landing_page" target="_blank">
            <p><strong>código fonte</strong>: github.com/weldocarvalho/welldOne</p>
          </a>
          <br>
          <p>E o que seria desse portfólio sem a sua devida landing page, num é vero? </p>
          <br>
          <p>Aqui o principal desafio foi aplicar os conceitos de <strong>responsividade</strong></p>
          <br>
          <p>Tecnologias utilizadas: <strong>HTML e CSS</strong></p>
        </article>

        <article>
          <h3>...TO BE CONTINUED...</h3>
          <p>Construir todos esses projetos tem sido um processo <strong>gratificante</strong>, às vezes
            <strong>frustante rsrs</strong>, mas sempre <strong>enriquecedor</strong>. Todos eles, sem dúvida alguma,
            receberão <strong>atualizações</strong> e <strong>melhorias</strong> ao longo do tempo.
          </p>
          <br>
          <p>Próximos desafios:</p>
          <p> - aplicação utilizando <strong>React HOOKS e Context API</strong></p>
          <p> - aplicação que <strong>consuma API de terceiros</strong></p>
          <br>
          <p>Não deixe de acompanhar meu perfil no github: <strong>github.com/weldocarvalho</strong></p>
        </article>
      </div>

    </div>

  </section>

  <footer id="contact_us">

    <div class="footer_wrapper">

      <div>
        <img src="/dist/profile_weldo_carvalho.jpeg" alt="imagem de perfil">
      </div>

      <div>
        <p>CONTATO</p>
        <br>
        <a href="https://www.linkedin.com/in/weldocarvalho/" target="_blank">
          <p>linkedin: linkedin.com/in/weldocarvalho</p>
        </a>
        <a href="https://github.com/weldocarvalho" target="_blank">
          <p>github: github.com/weldocarvalho</p>
        </a>

      </div>

    </div>

  </footer>

</body>

</html>
