@import "./globalConfig.css";

.first_bg {
  background-color: var(--primary-orange-web);
}

.second_bg {
  background-color: var(--secondary-blue-oxford);
}

.third_bg {
  background-color: var(--light-gray);
}

.forth_bg {
  background-color: #a0302f;
}

.main_content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 7rem var(--gap);
}
