@import './globalConfig.css';

.main_wrapper {
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
}

.section {
  min-height: 100vh;
}

.nav_content {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  width: 7rem;
  height: 6rem;
  border: solid 0.2rem #4f6d7a;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_logo h1 {
  font-size: 1.3rem;
  color: var(--theme);
}

.nav_logo p {
  font-size: 1.1rem;
  color: var(--theme);
}

.nav_content ul {
  display: flex;
  align-items: center;
}

.nav_content li {
  padding: 0 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--theme);
}

.intro {
  background-color: var(--theme);
  color: white;
  padding: 6rem 0;
}

.intro_content {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 4rem;
}

.intro_text_content h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 1.1;
}

.intro_img img {
  width: 30rem;
  height: 30rem;
}

.projects {
  padding: 6rem 0;
}

.projects_content, .projects_content a {
  color: var(--theme);
}

.projects_content h2 {
  font-size: 4rem;
  color: var(--theme);
  margin-bottom: 3rem;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  counter-reset: grid_counter;
}

.projects h3 {
  font-size: 2rem;
  position: relative;
  padding-left: 4rem;
  padding-bottom: 2rem;
  color: var(--tema);
}

.projects h3::before {
  counter-increment: grid_counter;
  content: counter(grid_counter);
  position: absolute;
  font-size: 5rem;
  font-style: italic;
  top: -2.5rem;
  left: 0;
}

#contact_us, #contact_us p {
  background-color: var(--theme);
  color: white;
}

#contact_us img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.footer_wrapper {
  height: 25rem;
  max-width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* MEDIA QUERIES */
@media (min-width: 1440px) {
  p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1215px) {
  .projects_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid_counter;
  }

  .projects h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
    color: var(--tema);
  }

  .projects h3::before {
    counter-increment: grid_counter;
    content: counter(grid_counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2.5rem;
    left: 0;
  }
}

@media (max-width: 975px) {
  .projects_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
    counter-reset: grid_counter;
  }
}

@media (max-width: 830px) {
  .intro_img img {
    width: 25rem;
    height: 25rem;
  }

  .projects_content h2 {
    font-size: 3.5rem;
    color: var(--theme);
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .intro_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro_text_content h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    line-height: 1.1;
  }
}

@media (max-width: 615px) {
  p {
    font-size: 1.4rem;
  }

  .nav_logo {
    display: none;
  }

  .nav_content {
    height: 11rem;
  }

  .nav_content, .nav_content ul {
    flex-direction: column;
    padding: 1rem 0;
  }

  .nav_content li {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--theme);
  }

  .intro_text_content h2 {
    font-size: 2.3rem;
    margin-bottom: 2.7rem;
    line-height: 1.1;
  }

  .intro_img img {
    width: 17rem;
    height: 17rem;
  }

  .projects_content h2 {
    font-size: 2.3rem;
    color: var(--theme);
    margin-bottom: 2.5rem;
  }

  .projects h3 {
    font-size: 1.7rem;
    position: relative;
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: var(--tema);
  }

  .projects h3::before {
    counter-increment: grid_counter;
    content: counter(grid_counter);
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    top: -2rem;
    left: 0;
  }

  #contact_us img {
    width: 12rem;
    height: 12rem;
  }

  .footer_wrapper {
    height: 30rem;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .projects_grid {
    display: flex;
    flex-direction: column;
  }
}
